@page "{id}"
@model CourseModel
@using FinanceCourse.Areas.Tools.Components

@{
    // TODO open the last completed page
    int DayCounter = 1;
}
<h2>@Model.Course.Name</h2>
<ul class="nav nav-tabs" id="courseTab" role="tablist">
    @foreach (var Page in Model.Course.Pages)
    {
        <li class="nav-item">
            <a class="nav-link @(DayCounter == 1 ? "active" : "")" id="day-@DayCounter-tab" data-toggle="tab" href="#day-@DayCounter" role="tab" aria-controls="day-@DayCounter" aria-selected="@(DayCounter == 1 ? "true" : "false")">Day @DayCounter</a>
        </li>
        DayCounter++;
    }
</ul>

<div class="tab-content" id="courseTabContent">
    @{DayCounter = 1;}
    @foreach (var Page in Model.Course.Pages)
    {
        <div class="tab-pane fade @(DayCounter == 1 ? "show active" : "")" id="day-@DayCounter" role="tabpanel" aria-labelledby="day-@DayCounter-tab">
            <h3 class="mt-2 mb-4">@Page.Title</h3>

            <div class="container mb-5">
                @Html.Raw(Page.Content)
            </div>


            @if (Page.TaskTool != null)
            {
                <h4 class="mb-3">Your task for today:</h4>
                @(await Html.RenderComponentAsync<ToolTemplate>(RenderMode.ServerPrerendered, Page.TaskTool.Value))
            }
        </div>
        DayCounter++;
    }
</div>

<script src="_framework/blazor.server.js"></script>